{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "function-paren-newline": 0,
    "semi": "error",
    "quotes": ["warn", "single"]
  }
}
